<form class="example-form" [formGroup]="firstStepper">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="First name" formControlName="firstName">
      <mat-error *ngIf="firstStepper.controls['firstName'].errors ?.required">Please Enter the First Name</mat-error>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-error *ngIf="firstStepper.controls['lastName'].errors ?.required">Please Enter the Last Name</mat-error>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr><td>
  <mat-radio-group class="example-radio-group" [(ngModel)]="selectedGender" [ngModelOptions]="{standalone: true}">
    <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
      {{gender}}
    </mat-radio-button>
  </mat-radio-group>
  </td></tr></table>

  <table class="example-full-width" cellspacing="0">
    <tr>
    <td>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Address" formControlName="address"></textarea>
      <mat-error *ngIf="firstStepper.controls['address'].errors ?.required">Please Enter the Address</mat-error>
    </mat-form-field>
    </td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error  *ngIf="emailFormControl.hasError('required')">Please Enter a valid email id</mat-error>
      </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="City" formControlName="city">
      <mat-error *ngIf="firstStepper.controls['city'].errors ?.required">Please Enter the City</mat-error>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="State" formControlName="state">
      <mat-error *ngIf="firstStepper.controls['state'].errors ?.required">Please Enter the State</mat-error>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <input matInput #postalCode maxlength="5" placeholder="Postal Code" formControlName="pincode">
      <mat-error *ngIf="firstStepper.controls['pincode'].errors ?.required">Please Enter the Pincode</mat-error>
      <mat-hint align="end">{{postalCode.value.length}}/5</mat-hint>
    </mat-form-field></td>
  </tr></table>

  <p>
    <button mat-button matStepperNext (click)="saveSanckBar()">Save</button>
  </p>
</form>
