
<div >
  <form>
  <mat-form-field class="full-width">
    <input matInput placeholder="UserName" #input1 [(ngModel)]="textValue" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Please enter a username
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Password" type="password"  #input2 [(ngModel)]="textValue1" [formControl]="emailFormControl1">
    <mat-error *ngIf="emailFormControl1.hasError('required')">
      Please enter a password
    </mat-error>
  </mat-form-field>
</form>

<button mat-button (click)="OnLogin(input1)" [disabled]="!textValue || !textValue1">Login</button>
</div>

<router-outlet></router-outlet>




